<p id="notice"><%= notice %></p>

<h2>The payment is confirmed! You will also receive an email with all information. Thank you!</h2>
<p>
  <b>Firstname:</b>
  <%= @order.first_name %>
</p>

<p>
  <b>amount:</b>
  <%= @order.amount %>
</p>

<%= link_to 'Back', root_path %>
