<h1>Listing tickets</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Unit price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.name %></td>
    <td><%= ticket.unit_price %></td>
    <td><%= link_to 'Order', place_order_path(ticket), method: :post %></td>

<% end %>
</table>


